################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MyAudioPlayer
/bin/Debug/net6.0-windows
/obj
/config.json
*.user
/bin/Release/net6.0-windows
/.vs/ProjectEvaluation
